<h3 mat-dialog-title>{{alamat.nama}}</h3> 
<div mat-dialog-content> 
<mat-list>     
<h3 matSubheader>Detail Alamat</h3>     
<mat-list-item>         
<mat-icon matListIcon>call</mat-icon>         
<h3 mat-line>{{alamat.hp}}</h3>         
<mat-divider></mat-divider>     
</mat-list-item>     
<mat-list-item>         
<mat-icon matListIcon>email</mat-icon>         
<h3 mat-line>{{alamat.email}}</h3>         <mat-divider></mat-divider>     
</mat-list-item>     
<mat-list-item>         
<mat-icon matListIcon>place</mat-icon>         
<h3 mat-line>{{alamat.alamat}}</h3>         
<p mat-line>{{alamat.kota}}</p>         
<p mat-line>{{alamat.propinsi}}</p>   <mat-divider></mat-divider>     
</mat-list-item> 
</mat-list> 
</div> 
<mat-dialog-actions>     
<span class="spacer"></span>     
<button mat-button mat-dialog-close>Tutup</button>   </mat-dialog-actions>