<mat-toolbar color="primary">
  Aplikasi Buku Alamat
  <span class="spacer"></span>
  <button mat-button (click)="buatAlamat(false)">Tambah Alamat</button>
</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Daftar Alamat</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let item of dataAlamat">
          <img matListAvatar src="assets/avatar.png" alt="..." />
          <h3 matLine>{{item.nama}}</h3>
          <p matLine>{{item.kota}}</p>           
          <p matLine>{{item.email}}</p>     

          <button mat-icon-button [matMenuTriggerFor]="menu">             
            <mat-icon>more_vert</mat-icon>           
          </button>           
          <mat-menu #menu="matMenu">             
            <button mat-menu-item (click)="detailAlamat(item)">Detail</button>             
            <button mat-menu-item (click)="buatAlamat(item)">Edit</button>             
            <button mat-menu-item (click)="konfirmasiHapus(item)">Delete</button>           
          </mat-menu>   

        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>